__pycache__
build
#seqan3
.pytest_cache
.vscode
*.fasta
*.pickle
*.zip
taxdump.tar.gz
cmake-build-debug
tax_db/benchmark/index
tax_db/benchmark/output
tax_db/benchmark/output_temp
tax_db/benchmark/log_temp